<div id="centerItems">
  <h1>{{ vehicleInstance.title }} {{ vehicleInstance.model }}</h1>
  <img src="{{ vehicleInstance.image }}" alt="..." id="image" />
</div>

<section class="mx-3">
  <h2>Car Details</h2>
  <div class="row mt-3 mx-1">
    <div class="col-md-3 col-6">
      <p>Price: {{ vehicleInstance.price }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Location: {{ vehicleInstance.location }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Model: {{ vehicleInstance.model }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Year: {{ vehicleInstance.year }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Transmission: {{ vehicleInstance.transmission }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Mileage: {{ vehicleInstance.mileage }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Color: {{ vehicleInstance.color }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Registered In: {{ vehicleInstance.registeredIn }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Assembly: {{ vehicleInstance.assembly }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Engine Capacity: {{ vehicleInstance.engineCapacity }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Last Updated: {{ vehicleInstance.lastUpdated }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Features List: {{ vehicleInstance.featuresList }}</p>
    </div>
  </div>
</section>

<section class="mx-3">
  <h2>Car Condition</h2>
  <div class="row mt-3 mx-1">
    <div class="col-md-3 col-6">
      <p>Exterior Condition: {{ vehicleInstance.exteriorCondition }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Interior Condition: {{ vehicleInstance.interiorCondition }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Engine Condition: {{ vehicleInstance.engineCondition }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Transmission Condition: {{ vehicleInstance.transmissionCondition }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Suspension Condition: {{ vehicleInstance.suspensionCondition }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Steering Condition: {{ vehicleInstance.steeringCondition }}</p>
    </div>
  </div>
</section>

<section class="mx-3 mt-3">
  <h2>Seller's Information</h2>
  <div class="row mt-3 mx-1">
    <div class="col-md-3 col-6">
      <p>Seller Contact No: {{ vehicleInstance.sellerContactNo }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Seller Email: {{ vehicleInstance.sellerEmail }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Seller Location: {{ vehicleInstance.sellerLocation }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Seller Contact Hours: {{ vehicleInstance.sellerContactHours }}</p>
    </div>
    <div class="col-md-3 col-6">
      <p>Seller Comments: {{ vehicleInstance.sellerComments }}</p>
    </div>
  </div>
</section>
